body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#top-container {
    height: 40px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    
}

.green-background {
    background-color: green;
    width: 20%;
    text-align: center;
    padding: 10px;
}

.yellow-background {
    background-color: yellow;
    width: 80%;
}

.pink-background {
    background-color: fuchsia;
    height: 90vh;
}

.blue-background {
    background-color: blue;
    width: 50vw;
    height: 200px;
}

.red-background {
    background-color: red;
    height: 100px;
   
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100px;
}

.purple-background {
    background-color: purple;
    height: 40px;
}
#blank{
    width: 40vw
}
#middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#vertical-middle-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}