/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --primary-color: #49a09d;
    --primary-color-hover: #49a09d;
    --primary-color-button: #2c0af0;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
    font-weight: 900;
}

.name_logo {
    display: block;
    margin:20px 20px;
    font-size: 25px;
    color:#FFFFFF;
    font-weight: 500;
    width:30%;
   
}
.header {
    display: inline;
    width: 100%;
    background: #FFFFFF
}
.nav_toggle,
.nav_close {
    display: none;
}
header.container_header {
    background-color:var(--primary-color);
    position:fixed;
    width: 100%;
    height:90px;
}
.nav_container {
    margin-top: -45px;
    width: 50%;
    float: right;
}

.grid {
    display: grid;
    gap: 5px;
}

.nav_link i {
    font-family: 'Poppins', sans-serif;
}

.nav_list {
    display: flex;
    justify-content: right;
    margin-right: 70px;
}

.nav_link {
    font-size: 16px;
    font-weight: 600;
    margin-left: 50px;
    color: #FFFFFF;
}

.nav_link:hover {
    color: var(--primary-color);
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    border: 0;
}

.nav_icon {
    font-size: 20px;
}
.nav_container{
    display: none;
}

/*==================== MAIN ====================*/
.main_project {
    color: #FFFFFF;
    margin-top: 10px;
}

.home_content {
    display: block;
    margin: 0 auto;
}
.container_imagem{
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns:  1fr 1fr;
    background-color: #FFFFFF;
     margin-top: 100px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container_imagem img{
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
}
.description p{
   text-align: center;
   font-weight: 800;
   color:#575151;
}
.description_inline ul{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.description_inline li {
    text-align: center;
    background-color: #15584fbe;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 800;
}
.tecnologias{
    display: relative;
    margin: 0 auto;
    width: 80%;
}
.btn_back { 
    margin: 120px 50px;
    border: 0;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}
.btn_back i{
   font-size: 20px;
   font-weight: 800;
}
.btn_back:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.btn_git {
    float: right;
    margin-top: 20px;
   
}
.btn_git button {
    padding: 8px;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #e6e3e3;
    font-weight:500;
    border-radius: 8px;
    cursor: pointer;
}
.btn_git button:hover {
    border: 1px solid var(--primary-color);
}
.button_demo {
    text-align: center;
}
.button_demo button {
    width: 150px;
    height:50px;
    border: 0;
    border-radius: 8px;

    color:#FFFFFF;
    font-weight: bold;
    background-color: var(--primary-color);
    margin-top: 50px;
    cursor: pointer;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}