@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 24px;
    background-color: #14b2da;
    border: 0;
    border-bottom: 1px solid #ffffff;
    color: #FFFFFF;
}
header i {
    font-size: 28px;
}
header .logo {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
header .logo i {
    display: flex;
    font-size: 24px;
    margin: 0 5px;
    padding: 2px;
    border: 2px solid #FFFFFF;
    border-radius: 8px
    
}
header input {
    padding: 10px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
}
.input_search {
    position: relative;
}
.input_search i{
    font-size: 20px;
    color: #707070;
    position: absolute;
    right: 10px;
    top: 6px;

}
.list_icons ul {
    display: flex;
    list-style: none;
}
.list_icons li {
    padding: 0 10px;
    cursor: pointer;
}
.nav {
    background-color: #14b2da;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ffffff;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav li {
    background-color: #FFFFFF;
    margin: 0 20px;
    padding: 10px;
    color: #525050;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}
main {
    background-color: #14b2da;
    padding: 30px;
}
.container_main ul {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.card_video {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    background-color: #FFFFFF;
    width: 320px;
    height:280px;
    border-radius: 4px;
}
.card_video p {
    margin-top: 20px;
    color: #14b2da;
    font-weight: 800;
}
footer {
    display: flex;
    height: 50px;
    background-color: #065770;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #FFFFFF;
}
