@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}
.container .header {
    background-color: mediumvioletred;
    color: #201f1f;
    padding: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .header img {
    width: 30px;
    margin: 0 30px;
}
.container .header .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.container .header .button_login {
    font-weight: 800;
    border: 0;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}
.container .header .button_login:hover{
    background-color:#f2d0e0;
    color: snow;
}
.main_container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
.main_container .side_bar {
    background-color:#f2d0e0;
}
.main_container .side_bar ul{
    list-style: none;
    margin: 50px 10px 0 0;
    cursor: pointer;
}
.main_container .side_bar li{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin: 30px 10px 10px 50px;
}
.main_container .side_bar li img{
    width: 20px;
    margin: 0 30px 0 0;
}
.main_container .main {
    
    padding: 24px;
}
.main_container .card {
    width: 300px;
    height:450px;
    background-color:#FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.main_container .card h4 {
    margin-top: 10px;
    text-align: center;
}
.main_container .card p {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
.main_container .main ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-gap: 14px;
    list-style: none;
    
}
.main_container .main li img{
    width: 300px;
   
}
.container .footer {
    height: 40px;
    padding: 30px;
    background-color: mediumvioletred;
    text-align: center;
}
.container .footer img{
    width: 14px;
}