* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabecalho {
    font-size: 30px;
    text-align: center;
    color:rgb(72, 24, 185);
    padding: 30px;
    font-weight:bold;
}
.menu {

    text-align: center;
    margin-bottom: 30px;
}
.menu a {
    
    background-color:#470985;
    padding: 10px;
    color: #FFFFFF;font: bold;
    border-radius: 8px;
    text-decoration: none;   
    
}
h2 {
    text-align: center;
    color:rgb(72, 24, 185);
}
.tabela {
    margin: auto;
    text-align: center;

   
}
.tabela .header th{

    background-color:#8225e0;
    color: #FFFFFF;
    padding: 15px;
    border: #470985;
    
}
.tabela td {
    border: 2px solid #470985;
    padding: 2px;
}
.tabela img {
    width: 100px;
}
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    background-color:#6620ac;
    padding: 30px;
    
}
.footer p {
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.footer .imagem img {
    width: 30px;
    margin:0 10px 10px 10px; 
    cursor: pointer;
    
}
.footer .imagem img:hover {
    width: 35px;
    
}