/** 
  *
  *  ESTILOS GERAIS 
  *
  **/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    width: 20px;
    height: 20px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 50px;
    
    
}
#container-de-descricao>p {
    display:block;
    margin: 0 auto;
    width: 230px;
    font-size: 20px;
    
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}
#container-para-comprar>a {
    display: block;
    margin-top: 80px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;
}
td {
    text-align: center;
}
td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
   
}
td button:hover {
    background-color: #bea222;
}
td img {
    width: 40px;
}
.container-do-search {
    margin-top: 20px;
    height: 100px;
}
.container-do-search input {
    border: 0;
    border-bottom: 3px solid;
}
a {
    text-decoration: none;
}
#back-button {
    display: block;
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin: 0 auto;
    text-decoration: none;
    
}

#back-button:hover {
    background-color: #635a3d
}